html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  font-family: "Source Sans Pro", sans-serif;
}

#background {
  background-color: #000;
  background-image: url(../img/background.png);
  background-position: center;
  background-size: cover;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#form-bg {
  background-color: rgba(15, 26, 47, 0.9);
  position: absolute;
  overflow: hidden;
  width: 924px;
  max-width: 100%;
  min-height: 422px;
  z-index: 1;
}

.text {
  font-size: 16px;
  line-height: 30px;
  margin: 20px 0 30px;
}

h2 {
  font-size: 28px;
  font-weight: 300;
  align-items: left;
  margin-top: 0;
}

.blue-line {
  width: 40px;
  border: 0;
  border-bottom: 2px solid #49abfe;
  display: block;
  margin-left: 0;
}
/* BUTTONS */
button {
  border: 2px solid;
  border-radius: 25px;
  color: #ffffff;
  font-size: 13px;
  font-weight: bold;
  width: 140px;
  height: 50px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: all 300ms ease-in;
  cursor: pointer;
}
.overlay button {
  border-color: #f89a35;
  background-color: #f89a35;
}
.overlay button:hover {
  border-color: #f8bf35;
  background-color: #f8bf35;
}
.shadow-container button {
  background-color: transparent;
  border-color: #49abfe;
}
.shadow-container button:hover {
  background-color: #49abfe;
}

form {
  position: absolute;
  width: 60%;
}

input {
  position: relative;
  border: 0;
  border-bottom: 1px solid #cbd2df;
  background-color: transparent;
  display: block;
  padding: 0;
  margin-bottom: 20px;
  width: 100%;
}

a {
  text-decoration: none;
  color: #8895b7;
}

.container {
  position: relative;
  overflow: hidden;
  width: 884px;
  max-width: 100%;
  min-height: 462px;
}

/* SHADOW CONTAINER*/
.shadow-container {
  position: absolute;
  height: 100%;
  color: #fff;
}

.left-container {
  left: 0;
  width: 45%;
  z-index: 2;
}

.right-container {
  right: 0;
  width: 45%;
  z-index: 2;
}

.sign-up-container {
  padding: 85px 65px;
}

.sign-in-container {
  padding: 120px 60px;
}

/* OVERLAY */
.overlay-container {
  position: absolute;
  top: 0;
  left: 422px;
  width: 462px;
  height: 100%;
  overflow: hidden;
  transition: transform 0.6s ease-in-out;
  z-index: 100;
}

.overlay {
  background: #fff;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
  color: #ffffff;
  position: relative;
  left: -422px;
  height: 100%;
  width: 884px;
  transform: translateX(0);
  transition: transform 0.9s ease-in-out;
}

.overlay h2 {
  color: #3e495e;
  display: inline-block;
}

.overlay label {
  color: #8895b7;
  display: inline-block;
  margin: 0;
}

.overlay-panel {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  top: 0;
  height: 100%;
  width: 462px;
  transform: translateX(0%);
  transition: transform 0.7s ease-in-out;
}

.container.right-panel-active .overlay-left {
  transform: translateX(0);
}

.container.right-panel-active .overlay {
  transform: translateX(422px);
}

.container.right-panel-active .overlay-container {
  transform: translateX(-422px);
}

.overlay-right {
  right: 0;
  transform: translateX(0);
}

.icon {
  float: right;
}
.required {
  color: red;
}

/* FOOTER */
footer {
  text-align: center;
  position: fixed;
  bottom: 5%;
  z-index: 0;
}

.footer {
  color: #8895b7;
  font-size: 13px;
}
